@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    // outline: 1px solid limegreen !important;
    // background: rgb(0 100 0/ 0.1);

}
//flex
@mixin displayFlex($justify,$align,$direction) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}
//--buttuon--
@mixin forButton($width,$height,$color,$fontColor) {
    height: $height;
    width: $width;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    background:$color;
    border: 1px solid $color ;
    color: $fontColor;
    cursor: pointer;
    text-transform: uppercase;
    // box-shadow:$boxShadow;

}
@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}
@mixin headers ($margin){
    margin: $margin;
    font-size: 50px;
    font-weight: 600;
    line-height: 1;
    color: $thidColor;
}
//--variables--
$primaryColor:#1eb2a6;
// $seconderyColor:#5D8BBC;
$seconderyColor:#22C8BA;
$thidColor:rgba(0, 0, 0, 0.8);
$forthColor:#999999;
$bgColor:#F8F8F8;
$boxShadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) ;
$textShadow:3px 3px 50px rgb(74, 74, 74);

//2-#E5DFDE,3-#ADA8A7,4-#BB836A,5-#473E3D

%buttun{

}